<%= render "shared/header"%>
<div class="store-space">
    <div class="store-list-ber">
      <%= render "side_ber"%>
    </div>
    <div class="store-main-space">
      <h1>店舗情報</h1>
      <%= @store.store_name %>
      <p>営業時間：<%= @store.opening%> 時〜<%= @store.closing%>時
      <p>連絡先：<%= @store.tel%>
      <div class="store-menu">
        <p class="menu">メニュー</p>
        <%= link_to "スタッフを招待する", new_store_member_path(@store.id)%><br>
        <%= link_to "シフトを提出する", new_store_shift_path(@store.id)%><br>
        <%= link_to "シフトを確認する", "#"%><br>
      </div>

      <% if @current_store_admin == true %>
        <div class="store-menu">
          <h1 class="menu">管理者画面</h1>
          <%=link_to "スタッフ一覧", store_members_path(@store.id)%><br>
          <%= link_to "シフト表を作成する", "#"%>
        </div>
      <% end %>
    </div>
</div>