<section class="section hero is-info">
  <h2 class="title"><%=@store.store_name%>のシフト表を作成します。</h2>
  <h2 class="subtitle"><%=@today.next_month.month%>月</h2>
  <div><%=link_to "戻る", store_path(@store), class: "button", style: "float:right;"%></div>
</section>





<section class="section overflow">
  <table class="table is-bordered is-striped">
  <tr>
    <td class="name-table">
      
    </td>
    <%@day.day.times do %>
      <% @day += 1%>
      <td>
        <%= @day.day %>
      </td>
    <% end %>
  </tr>
  
    <% @members.each do |member|%>
      <%@day_count = 0%>
      <%user = User.find(member.user_id)%>
      <tr>
        <td class="name-table">
          <p><%= user.name%></p>
        </td>
        <% @day.day.times do%>
          <%@day_count += 1%>
          <td class="name-table" >
           <%@shifts.each do |shift|%>
            <% if shift.user_id == user.id%>
              <% if shift.workday.day == @day_count%>
                <div class="tags">
                  <div class="is-size-7 tag" >
                    <%=link_to "#{shift.start.strftime("%H:%M")}", new_store_table_path(@store.id, shift_id: shift.id, day: @day_count), class:"sac"%>
                    <div class="border"></div>
                    <%=link_to "#{shift.ending.strftime("%H:%M")}", new_store_table_path(@store.id, shift_id: shift.id, day: @day_count), class:"sac"%>
                  </div>
                  <div class="is-size-7 text-confirmation" id="text-confirmation">
                    <%if shift.text != "" && shift.text != nil%>
                    <div class="infomation">
                      <p class="cation">！確認！</p>
                      <p id="infomation"><%= shift.text%></p>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>

            
           
          </td>
        <% end %>
      </tr>
    <% end %>
  
  </table>

  <%if params[:shift_id] != nil %>
    <section class="section is-center test">
      <table class="table is-striped">
        <tr>
          <td><h2 style="font-size:20px;"><%="#{@next.year}年#{@next.month}月#{params[:day]}日"%> <p class="close">✕</p></td>
        </tr>
        <tr>
          <td>
            <% day = params[:day]%>
            <%= form_with model: [@store,@table], local: true do |f|%>
              <%= f.text_field :workday, value:"#{@shift.workday}"%>
              <%= f.text_field :user_id, value:"#{@shift.user.id}"%>
              希望時間<br>
              <%= f.time_field :start%>から<br>
              <%= f.time_field :ending %>まで<br>
              <%= f.submit "登録", class: "button", style:"float:right;"%>
            <% end %>
          </td>
        </tr>
      </table>
    </section>
  <% end %>

 

</section>



<section class="section overflow">
  <table class="table is-bordered is-striped">
  <tr>
    <td class="name-table">
      
    </td>
    <% @day_count = 0%>
    <%@day.day.times do %>
      <% @day_count += 1%>
      <td>
        <%= @day_count %>
      </td>
    <% end %>
  </tr>
  
    <% @members.each do |member|%>
      <%@day_count = 0%>
      <%user = User.find(member.user_id)%>
      <tr>
        <td class="name-table">
          <p><%= user.name%></p>
        </td>
        <% @day.day.times do%>
          <%@day_count += 1%>
          <td class="name-table" >
          <%if @tables != nil%>
            <%@tables.each do |table|%>
              <% if table.user_id == user.id%>
                <% if table.workday.day == @day_count%>
                  <div class="tags">
                    <div class="is-size-7" >
                      <%= "#{table.start.strftime("%H:%M")}"%>
                      <div class="border"></div>
                      <%="#{table.ending.strftime("%H:%M")}"%>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

            
           
          </td>
        <% end %>
      </tr>
    <% end %>
  
  </table>


 

</section>